# Xtream Server Configuration
XTREAM_HOSTNAME=your-server.com
XTREAM_PASSWORD=your-password
XTREAM_USER=your-user

# Aria2 Configuration
RPC_PASSWORD=your-aria2-rpc-password
ARIA2_URL=http://192.168.0.21:6800/jsonrpc

# Server Configuration
PORT=5000


